.pl46{padding: 0 46px 0 0;}
.pic{margin: 20px 0;}
.picCen{width: 300px; height: 400px; background: pink; margin: 0 0 20px 86px;}
.edit-div-input{width: 626px;}
.edit-div-row{padding-bottom: 30px;}